BloodGlucoseLevelPrediction/Debug/*
BloodGlucoseLevelPrediction/BloodGlucoseLevelPrediction/Debug/*
BloodGlucoseLevelPrediction/.vs/*
BloodGlucoseLevelPrediction/BloodGlucoseLevelPrediction/asc2018.sqlite
BloodGlucoseLevelPrediction/BloodGlucoseLevelPrediction/sqlite3/*
BloodGlucoseLevelPrediction/Release/*
BloodGlucoseLevelPrediction/BloodGlucoseLevelPrediction/Release/*